<ng-container *ngIf="type === 'github'">
  <mat-card class="example-card" [@routerTranAni]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+searchResultItem.avatarUrl+')'}"></div>
      <mat-card-title>{{ searchResultItem.userName }}</mat-card-title>
      <mat-card-subtitle>{{ searchResultItem.fullName }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ searchResultItem.description }}</p>
    </mat-card-content>
    <mat-card-actions class="repo-actions">
      <em class="repo-language">{{ searchResultItem.language }}</em>
      <button mat-button>
        <mat-icon class="md-14">remove_red_eye</mat-icon>{{ searchResultItem.watchersCount }}
      </button>
      <button mat-button>
        <mat-icon class="md-14">call_split</mat-icon>{{ searchResultItem.forksCount }}
      </button>
      <button mat-button>
        <mat-icon class="md-14">star</mat-icon>{{ searchResultItem.stargazersCount }}
      </button>
      <button mat-button>
        <mat-icon class="md-14">file_copy</mat-icon>{{ (searchResultItem.repoSize / 1024) | round:1 }}M</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-container *ngIf="type === 'cloudmusic'">
  <mat-card class="example-card" [@routerTranAni]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url('+searchResultItem.picUrl+')'}"></div>
      <mat-card-title>{{ searchResultItem.songName }}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <div mat-card-image class="card-image">
      <img [src]="searchResultItem.picUrl" width="100%" alt="Photo of a Shiba Inu">
    </div>
    <!-- <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</ng-container>