.player-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}